@use '../../../shared/styles/global.scss' as *;
@use '../../../shared/styles/variables.scss' as *;
@use '../../../shared/styles/mixins.scss' as *;

.question-page{
    padding-top: $space-md;

    &__container{
        gap:  $space-md;
        @include flex-col();
    }
    &__back{
        background-color: transparent;
        color: var( --color-primary);
        cursor: pointer;
        line-height: 120%;
        transition: color .3s ease-in-out;
        gap: $space-xs-2;
        @include manrope(500, $font-md);
        @include flex-center-y();
    }
    &__back:hover{
        color: var( --color-primary-hover);
    }
}