@use '../../../../shared/styles/global.scss' as *;
@use '../../../../shared/styles/mixins.scss' as *;
@use '../../../../shared/styles/variables.scss' as *;

.hide-items{
    background-color: var(--color-white);
    color: var(--color-primary);
    line-height: 100%;
    transition: underline .3s ease-in-out;
    cursor: pointer;
    @include manrope(500, $font-sm);
}

.hide-items:hover{
    color: var(--color-primary);
    text-decoration: underline;
}

.filter-block{
    ul{
        display: flex;
        flex-wrap: wrap;
        gap: $space-xs-4;
    }
}