@use '../../../../shared/styles/global.scss' as *;
@use '../../../../shared/styles/variables.scss' as *;
@use '../../../../shared/styles/mixins.scss' as *;

.nav-button{
    line-height: 110%;
    background-color: var(--color-white);
    color: var(--color-text-dunkle);
    cursor: pointer;
    transition: color .1s ease-in-out;
    @include manrope(600, $font-md);
    @include flex-center-xy();

    &:hover{
        color: var(--color-primary-hover); 
    }
    &:active{
        color: var(--color-reset); 
    }  

    &:disabled{
        color: var(--color-text-gray);
        cursor: not-allowed;
    }
}